/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

.image-logo{
  height: 487px;
  width: 500px;
}

.image-div{
  height: 325px;
  width: 100%;
}

bs-datepicker-container{
  z-index:2500 !important;
}

.swal2-container {
  z-index: 2500 !important;
}

.no-margin{
  margin: 0 0 0 0 !important;
}

//Carousel Cobertura Dental

.item {
  padding: 0;
  width: 300px;
  height: 200px;
  background-color: crimson;
  color: #fff;
  font-size: 50px;
  line-height: 300px;
  text-align: center;
}


 .prev {
   opacity: 0 !important;
 }

 .next {
  opacity: 0 !important;
 }

.item-carousel {
  border: none !important;  
  background-color: aliceblue;
  width: 52em !important;
}
.btnSig {
  position: absolute;
  top: -26.5em;
  left:70em;
  border-radius: 50px;
  width: 40px;
  height: 300px;
  opacity: 0.5;
}
.btnAtras {
  position: absolute;
  top: -26.5em;
  right: -5.5em;
  border-radius: 50px;
  width: 40px;
  height: 300px;
  opacity: 0.5;
}
.todo{
  height:100%;
  width: 100%;
  position: relative;
}
.contenido{
  background-color: aliceblue !important;
}
.btnAg{
  width: 100px;
  height: 39px;  
}
.dependiente{
  text-align: center;
}
.lblAg{
  border-color: 1px solid red;
  border-radius: 20px;
  color:red;
}
.texto{
  text-align: center;
}
.avisos{
  text-align: left;
  color:red;
}