:host /deep/ ss-multiselect-dropdown .dropdown {
    width: 150px;
    display: block;
  }
    
  :host /deep/ ss-multiselect-dropdown .dropdown-toggle {
    width: 100%;
    text-align: left;
  }
    
   .caret {
    float: right;
    margin-top: 8px;
  }